@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #7d2ae8;
    color: #ffffff;
    margin: 0;
    overflow: auto; /* Adjusted to handle overflow */
}

.container {
    display: flex;
    flex-direction: row; /* Ensure this is set to row to align children horizontally */
    max-width: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

small {
    white-space: nowrap; /* Add this line to keep the message in one line */
}

.upload-form {
    padding: 20px;
    /* max-width: 90%; */
    flex-basis: 50%; /* Allocate space for the form */
    color: #333;
}

#imagePreview {
    display: flex; /* This ensures the flex container is active. */
    justify-content: start; /* This will space out the images evenly. */
    gap: 6px;
    align-items: center; /* This aligns items vertically in the center. */
    flex-wrap: nowrap; /* Prevents wrapping of items to ensure horizontal alignment. */
    display: none; /* Initially hidden to only show when images are selected */
    flex-basis: 50%; /* Allocate space for image previews next to the form */
    padding: 20px;
}

#imagePreview img {
    width: auto; /* Adjust width to content */
    max-width: 90%; /* Ensure image does not exceed its container width */
    max-height: 200px; /* Limit image height for a uniform display */
    object-fit: cover; /* Ensure images cover their respective areas without distorting */
}

.static-image-container {
    flex-basis: 50%; /* Allocate space next to the form */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    padding: 20px;
}

.static-image-container img {
    max-width: 200px; /* Ensure image does not exceed its container width */
    max-height: 200px; /* Set a maximum height for the image */
    object-fit: contain; /* Ensure the full image is visible */
}



h2 {
    color: #333;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

input[type="file"] {
    margin-bottom: 20px;
    border: 2px solid rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #7d2ae8;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

button:hover {
    background-color: #5b13b9;
}

.next-step {
    margin-left: auto; /* Adjusted */
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .upload-form, #imagePreview {
        flex-basis: 100%;
    }

    #imagePreview img {
        max-width: 50%; /* Adjust size for smaller screens */
    }
}




/* Re-using animations from style.css */
@keyframes fadeIn { /* Included as is if needed for consistency */ }
@keyframes popIn { /* Included as is if needed for consistency */ }
@keyframes colorChange { /* Included as is if needed for consistency */ }
