<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Onboarding - Login</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <form action="/login" method="post">
        <h2>Virtual Onboarding</h2>
        <div class="form-item">
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
        </div>
        <div class="form-item">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="reset" value="Reset">
        <input type="submit" value="Login">
    </form>
</body>
</html>
