<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/6a47f490c9.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/static/images/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Virtual<br>KYC Onboarding</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/static/images/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
          <div class="signup-form">
              <div class="title">Sign Up</div>
              <form action="/register/" method="POST"> <!-- Ensure the form action and method are correctly set for your backend -->
                <div class="input-boxes">
                  <div class="input-box">
                      <i class="fas fa-user"></i>
                      <input type="text" placeholder="Enter your name" name="name" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-birthday-cake"></i>
                      <input type="number" placeholder="Enter your age" name="age" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-phone"></i>
                      <input type="tel" placeholder="Enter your phone number" name="phno" pattern="[0-9]{10}" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-user-circle"></i>
                      <input type="text" placeholder="Enter your username" name="username" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" placeholder="Enter your password" name="password" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-envelope"></i>
                      <input type="email" placeholder="Enter your email" name="email" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-calendar-alt"></i>
                      <input type="date" name="dob" required>
                  </div>
                  <div class="button input-box">
                      <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Already have an account? <label for="flip">Login Here</label></div>
                  </div>
              </form>
          </div>
      
  
        <div class="login-form">
          <div class="title">Login</div>
        <form action="/login/" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-phone"></i>
                <input type="tel" placeholder="Enter your phone number" name="phno" pattern="[0-9]{10}" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="password" required>
          </div>
              <div class="button input-box">
                <input type="submit" value="Login">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Register now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>



  <!-- Script for handling  Registration form submission and displaying SweetAlert pop-ups for Phone number exists -->
  <script>
   document.querySelector('.signup-form form').addEventListener('submit', function(e) {
       
        e.preventDefault(); 
  
        const formData = new FormData(this);
        const actionUrl = this.getAttribute('action');
  
        fetch(actionUrl, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) throw new Error('Network response was not ok.');
            return response.json();
        })
        .then(data => {
            if (data.error) {
                // Display a SweetAlert for error message
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.error
                });
            } else if (data.success) {
                // Display a SweetAlert for successful registration
                Swal.fire({
                    icon: 'success',
                    title: 'Registration Successful',
                    text: 'You have successfully registered.',
                    timer: 2000,  // Set a timer to automatically close the alert after 2 seconds
                    showConfirmButton: false
                }).then(() => {
                    window.location.href = '/id'; // Redirect to ID page
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Display a SweetAlert for generic error
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Phone Number Already Exists Please Login!'
            });
        });
    });
  </script>


  
   <!-- Script for handling Login form submission and Invalid Credentials displaying SweetAlert pop-ups -->

<script>
  document.querySelector('.login-form form').addEventListener('submit', function(e) {
    e.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this);
    const actionUrl = this.getAttribute('action');

    fetch(actionUrl, {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            // Check for specific HTTP status code 401
            if (response.status === 401) {
                // Throw an error for 401 Unauthorized
                throw new Error('Invalid Credentials');
            } else {
                // Throw an error for other HTTP error responses
                throw new Error('HTTP error, status = ' + response.status);
            }
        }
        return response.json();
    })
    .then(data => {
        if (data.error) {
            // Display a SweetAlert for invalid credentials
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: data.error
            });
        } else if (data.success) {
            // Display a SweetAlert for successful login
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: data.success,
                timer: 2000,  // Set a timer to automatically close the alert after 2 seconds
                showConfirmButton: false
            }).then(() => {
                window.location.href = '/id'; // Redirect to ID page
            });
        }
    })
    .catch(error => {
        // Check if the error message is 'Invalid Credentials' (for 401 error)
        if (error.message === 'Invalid Credentials') {
            // Display a SweetAlert for 401 Unauthorized
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid Credentials!'
            });
        } else {
            // Display a SweetAlert for generic error
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!'
            });
        }
    });
});

</script> 

<!-- JavaScript to send the mobile number to the server, receive the step, and navigate accordingly -->

<script>
    function checkStepAndNavigate(phno) {
        fetch('/check_step', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({phno: phno}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                console.error('Error:', data.error);
                // Handle error (e.g., show an alert or message to the user)
            } else if (data.step) {
                // Navigate based on the step
                switch(data.step) {
                    case 1:
                        window.location.href = '/register/'; // Navigate to register page
                        break;
                    case 2:
                        window.location.href = '/id'; // Navigate to ID upload page
                        break;
                    case 3:
                        window.location.href = '/liveliness'; // Navigate to ID upload page
                        break;    
                    // Add more cases as needed for other steps
                    default:
                        window.location.href = '/'; // Default navigation
                }
            }
        })
        .catch((error) => {
            console.error('Fetch Error:', error);
        });
    }
    
    
    </script>
    



</body>
</html>
